:root {
    /// size
    --button-height: 20px;
    --base-padding: 10px;
    --main-round:8px;
    /// colors
    --el-color-success: #41B883;
    --background-c:#1a1a1a;

    --background-accent-c:#252525;



}